.footer {
  padding-top: 80px;
  padding-bottom: 20px;

  @include vp-991 {
    padding-top: 70px;
  }

  @include vp-767 {
    padding-top: 50px;
  }

  &__topline {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include vp-767 {
      align-items: flex-start;
    }
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;

    @include vp-991 {
      justify-content: flex-start;
      padding-top: 50px;
      column-gap: 20px;
    }

    @include vp-767 {
      justify-content: space-evenly;
      padding-top: 35px;
      column-gap: 10px;
    }
  }

  &__nav-col {
    flex-basis: 190px;
    margin-bottom: 20px;

    @include vp-991 {
      flex-basis: 167px;
    }

    @include vp-767 {
      flex-basis: 145px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    a {
      display: block;
      padding-bottom: 10px;
      color: $black;
      font-size: 20px;
      line-height: 23px;
      transition: text-decoration $trans-default;

      @include hover-focus {
        text-decoration: underline;
      }

      @include vp-767 {
        padding-bottom: 7px;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &__logo {
    svg {
      @include vp-767 {
        width: 140px;
        height: 47px;
      }
    }
  }

  &__tel {
    color: $green;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    white-space: nowrap;
    transition: text-decoration $trans-default;

    @include vp-767 {
      margin-top: 6px;
      font-size: 12px;
      line-height: 14px;
    }

    @include hover-focus {
      text-decoration: underline;
    }
  }

  &__title {
    position: relative;
    margin-top: 0;
    margin-bottom: 11px;
    padding-bottom: 12px;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;

    @include vp-767 {
      margin-bottom: 4px;
      font-size: 16px;
      line-height: 19px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 50px;
      height: 2px;
      background-color: $green;
    }
  }
}
