@mixin hide-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

@mixin title-h2 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;

  @include vp-767 {
    font-size: 28px;
    line-height: 33px;
  }
}


@mixin primary-text {
  font-size: 24px;
  line-height: 150%;
  letter-spacing: -0.4px;

  @include vp-767 {
    font-size: 16px;
  }
}

@mixin secondary-text {
  font-size: 16px;
  line-height: 150%;

  @include vp-767 {
    font-size: 14px;
    line-height: 140%;
  }
}

@mixin accent-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.4px;
}
