// raleway-200 - cyrillic
@font-face {
  font-weight: 200;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-200.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-200.woff") format("woff");
  font-display: swap;
}

// raleway-300 - cyrillic
@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-300.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-300.woff") format("woff");
  font-display: swap;
}

// raleway-regular - cyrillic
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-regular.woff") format("woff");
  font-display: swap;
}

// raleway-500 - cyrillic
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-500.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-500.woff") format("woff");
  font-display: swap;
}

// raleway-600 - cyrillic
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-600.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-600.woff") format("woff");
  font-display: swap;
}

// raleway-700 - cyrillic
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Raleway";
  src:
    local(""),
    url("../fonts/raleway-v28-cyrillic-700.woff2") format("woff2"),
    url("../fonts/raleway-v28-cyrillic-700.woff") format("woff");
  font-display: swap;
}
