.custom-select {
  $block: &;
  position: relative;

  // width: 300px;

  // margin: 0 0 44px;
  // padding: 14px 0 28px;
  z-index: 2;

  width: 100%;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  @include vp-767 {
    width: 100%;
    font-size: 16px;
    line-height: 19px;
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &--invalid {
      color: #ff0000;
    }

    &--valid {
      color: #15ab07;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 10px;

    pointer-events: none;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity  0.3s ease;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  &__placeholder {
    position: absolute;
    top: 50%;
    left: 10px;

    pointer-events: none;

    transform: translateY(-50%);

    transition: transform 0.3s ease, opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      transform: translateY(calc(-50% - 5px));
    }
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 48px;
    min-height: 60px;
    padding: 20px;

    border-radius: $border-radius;
    background-color: $white-darken;

    // border: 2px solid rgb(0 0 0 / 20%);
    // background-color: rgb(255 255 255 / 0%);
    outline: none;
    cursor: pointer;

    transition: outline $trans-default;

    @include vp-767 {
      min-height: 50px;
    }

    // &:hover {
    //   border: 2px solid rgb(0 0 0 / 50%);
    // }

    // &:focus {
    //   border: 2px solid rgb(0 0 0 / 80%);
    // }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    overflow-y: auto;

    width: 100%;
    max-height: 205px;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    border-radius: 0 0 $border-radius $border-radius;

    // border: 2px solid #000000;
    background-color: $white-darken;

    list-style: none;
    visibility: hidden;
    transform: translateY(100%);
    opacity: 0;

    transition: visibility 0.3s ease, opacity 0.3s ease;
  }

  &__item {
    padding: 20px;

    border-top: 0.5px solid $gray-lighter;

    outline: none;
    cursor: pointer;

    transition: background-color 0.3s ease;

    @include hover {
      background-color: $green-lighten;
    }

    // @media (hover: hover) {
    //   &:hover:not(.focus-visible) {
    //     background-color: rgb(0 0 0 / 40%);
    //   }
    // }

    &[aria-selected="true"] {
      display: none;
      background-color: rgb(0 0 0 / 20%);

      @include hover-focus {
        background-color: rgb(0 0 0 / 20%);
      }
    }

    &.focus-visible:focus {
      background-color: rgb(0 0 0 / 40%);
    }
  }

  &__error {
    position: absolute;
    top: -30px;
    right: 0;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.1s ease;
  }

  &__text {
    flex-shrink: 0;
    overflow: hidden;
    width: 80%;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;

    opacity: 0;

    transition: opacity 0.3s ease 0.1s;

    @include vp-767 {
      font-weight: 500;
    }

    br {
      display: none;
    }
  }

  &__icon {
    flex-shrink: 0;
    width: 14px;
    height: 7px;
    margin-left: auto;

    background-color: $green;

    transition: transform 0.3s ease;

    clip-path: polygon(100% 0, 100% 20%, 50% 100%, 0 20%, 0 0, 50% 80%);
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  select {
    position: absolute;
    overflow: hidden;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    white-space: nowrap;
    clip-path: inset(100%);
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      top: 0;
      bottom: auto;
      transform: translateY(calc(-100% + 10px));
    }
  }

  &.is-open {
    .custom-select__list {
      visibility: visible;
      opacity: 1;
    }

    .custom-select__icon {
      transform: rotate(180deg);
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      outline: 2px solid #ff1553;

      &:focus,
      &:hover {
        outline: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - 40px));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }
}
