.custom-range {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;

  .noUi-connect {
    background-color: $green;
  }

  .noUi-tooltip {
    bottom: -130%;
    border: 0;

    @include vp-767 {
      bottom: -120%;
      font-size: 14px;
      line-height: 16px;
    }
  }


  &.noUi-target {
    border-radius: 38px;
    background-color: $white-darken;
  }
}
