.stage-item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  column-gap: 30px;

  @include vp-991 {
    display: flex;
    flex-flow: column-reverse;

    // row-gap: 27px;
  }

  &__left-col {
    grid-column: 2/7;
  }

  &__right-col {
    grid-column: span 6 / -1;

    @include vp-991 {
      width: 100%;
      margin-bottom: 27px;
    }

    @include vp-767 {
      position: relative;
      min-height: 130px;
      padding-bottom: 43%;
    }

    img {
      border-radius: 10px;

      @include vp-991 {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 322px;
      }

      @include vp-767 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;

    @include vp-767 {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__text {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 23px;

    @include vp-991 {
      margin-bottom: 20px;
    }

    @include vp-767 {
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__button {
    min-width: 300px;
    min-height: 70px;
    font-size: 20px;
    line-height: 23px;

    @include vp-991 {
      min-width: 292px;
    }

    @include vp-767 {
      width: auto;
      min-width: 170px;
      min-height: 40px;
      font-size: 12px;
      line-height: 14px;
    }

    svg {
      @include vp-767 {
        width: 16px;
        height: 5px;
      }
    }
  }
}
