<footer class="footer">
  <div class="footer__container">
    <div class="footer__topline">
      @@if (!context.index) {
      <a class="footer__logo" href="index.html">
        <svg width="190" height="64">
          <use xlink:href="#logo"></use>
        </svg>
      </a>
    }
    @@if (context.index) {
      <span class="footer__logo">
        <svg width="190" height="64">
          <use xlink:href="#logo"></use>
        </svg>
      </span>
    }
      <a href="tel:+79451243245" class="footer__tel">+ 7 945 124 32-45</a>
    </div>
    <section class="footer__nav">
      <h2 class="visually-hidden">Навигация по сайту</h2>
      <div class="footer__nav-col">
        <h3 class="footer__title">
          <a class="footer__link @@if (context.footerActivePage === 'projects') { is-active }" @@if (context.footerActivePage !== 'projects') { href="/projects.html" }>Проекты</a>
        </h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__link @@if (context.footerActivePage === 'typical') { is-active }" @@if (context.footerActivePage !== 'typical') { href="/typical.html" }>Типовые</a>
          </li>
          <li class="footer__item">
            <a>Индивидуальные</a>
          </li>
          <li class="footer__item">
            <a>Коммерческие</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">Услуги</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a>Проектирование</a>
          </li>
          <li class="footer__item">
            <a>Ландшафтный дизайн</a>
          </li>
          <li class="footer__item">
            <a>Документы</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">Технологии</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a>Дерево</a>
          </li>
          <li class="footer__item">
            <a>Блок</a>
          </li>
          <li class="footer__item">
            <a>Камень</a>
          </li>
          <li class="footer__item">
            <a>Утепление</a>
          </li>
          <li class="footer__item">
            <a>Шумоизоляция</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">Клиентам</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a>Партнеры</a>
          </li>
          <li class="footer__item">
            <a>Документы</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">О нас</h3>
        <ul class="footer__list">
          <li class="footer__item">
            <a>Вакансии</a>
          </li>
          <li class="footer__item">
            <a>О компании</a>
          </li>
        </ul>
      </div>
      <div class="footer__nav-col">
        <h3 class="footer__title">Новости</h3>
        <ul class="footer__list"></ul>
      </div>
    </section>
  </div>
</footer>
